.tables-grid {
    margin: 75px;
}

.table-title {
    background-color: var(--secondary-color) !important;
    color: white !important;
    text-align: center;
    font-weight: bold;
    padding: 1rem !important;
}

.row-title {
    font-weight: bold;
}

.dashboard-general-info {
    text-align: center;
    margin: 20px auto; /* Center the div horizontally */
    max-width: 600px; /* Set the maximum width */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust this value to set the space between buttons */
}

.chart-container {
    display: flex;
    flex-wrap: wrap; /* Allow charts to wrap to new rows */

    /* Define styles for each chart */
    .chart {
        flex: 1; /* Equal width for each chart */
        padding: 10px;
        box-sizing: border-box;
        min-width: 200px; /* Minimum width for each chart */
        min-height: 300px; 
        margin:20px;

        @media screen and (max-width: 768px) {
            /* Adjust chart size for smaller screens */
            min-width: 100%; /* Full width on smaller screens */
        }
    };
}