#pageTitle {
    text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: xx-large;
    margin:auto
}

#generalInfo {
    text-align: center;
    margin: auto;
    max-width: 600px; /* Set the maximum width */
}

#dataTable {
    margin: 40px;
}

.sectionNameTd {
    font-weight: bold;
    background-color: var(--third-color) !important;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust this value to set the space between buttons */
}


.custom-input-width {
    max-width: 600px; 
}