.depth-0-row {
    font-weight: bold;
    color: white !important;

    background-color: #154c79 !important;
}

.depth-1-row {
    font-weight: bold;
    background-color:var(--third-color)  !important;
}

.depth-2-row {
    background-color: #abdbe3 !important;
}

.chart-container {
    display: flex;
    flex-wrap: wrap; /* Allow charts to wrap to new rows */

    /* Define styles for each chart */
    .chart {
        flex: 1; /* Equal width for each chart */
        padding: 10px;
        box-sizing: border-box;
        min-width: 200px; /* Minimum width for each chart */
        min-height: 300px; 
        margin:20px;

        @media screen and (max-width: 768px) {
            /* Adjust chart size for smaller screens */
            min-width: 100%; /* Full width on smaller screens */
        }
    };
}

.icon-button {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  
  
  
  