.depth-0-row {
    font-weight: bold;
    color: white !important;

    background-color: #154c79 !important;
}

.depth-1-row {
    font-weight: bold;
    background-color:var(--third-color)  !important;
}

.depth-2-row {
    background-color: #abdbe3 !important;
}