

.table-title {
    background-color: var(--secondary-color) !important;
    color: white !important;
    text-align: center;
    font-weight: bold;
    padding: 1rem !important;
}
  
.form-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-input label {
    margin-right: 10px;
    flex-basis: 30%
}

.dialog-tool-wide {
    width: 90%;
    max-width: none !important;
}


.centered-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.pageTitle {
    text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: x-large;
    margin:auto
}